/* src/app.css */



body {
    font-family: Arial, sans-serif;
    background-image: url('./component/image/back.jpg');
    /* Set the path to your background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-color: rgba(255, 255, 255, 0.8);
    /* Add a semi-transparent white background for better readability */
    margin: 0;
    padding: 0;

}
/* src/app.css */

h1 {
    text-align: center;
    color: #333;
    /* Text color */
    background-color: rgba(255, 255, 255, 0.9);
    /* Background color for the header */
    padding: 20px;
    margin: 0;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    /* Text shadow for a subtle effect */
}

.App {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 20px;
}

.habit {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

.habit.completed {
    background-color: #e0f7e0;
    /* Light green for completed habits */
}

.habit input[type="checkbox"] {
    margin-right: 10px;
}

.habit button {
    background-color: #f44336;
    /* Red for delete button */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.habit button:hover {
    background-color: #d32f2f;
    /* Darker red on hover */
}